<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="bg-gray-100 flex items-center justify-center min-h-screen">
    <div class="bg-white rounded-lg shadow-lg p-8 max-w-md w-full">
        <div class="text-center mb-8">
            <svg viewBox="0 0 24 24" aria-hidden="true" class="mx-auto h-12 w-12 text-blue-500 fill-current">
                <g>
                    <path
                        d="M23.643 4.937c-.835.37-1.73.62-2.675.733a4.682 4.682 0 0 0 2.047-2.571 9.29 9.29 0 0 1-2.952 1.125 4.673 4.673 0 0 0-7.946 4.26A13.272 13.272 0 0 1 1.64 3.153a4.67 4.67 0 0 0 1.447 6.234 4.64 4.64 0 0 1-2.115-.584v.06a4.678 4.678 0 0 0 3.748 4.584 4.708 4.708 0 0 1-2.11.08 4.68 4.68 0 0 0 4.36 3.241A9.383 9.383 0 0 1 0 19.54a13.188 13.188 0 0 0 7.16 2.103c8.585 0 13.282-7.112 13.282-13.283 0-.202-.005-.404-.014-.605a9.513 9.513 0 0 0 2.336-2.422z">
                    </path>
                </g>
            </svg>
            <h1 class="text-2xl font-bold text-gray-900 mt-4">Log in to NotTwitter</h1>
        </div>
        <form action="/login" method="post">
            <div class="mb-4">
                <label for="email" class="block text-gray-700 font-bold mb-2">Email</label>
                <input type="email" name="email" id="email" placeholder="Email"
                    class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:border-blue-500" required>
            </div>
            {% with messages = get_flashed_messages(category_filter=["emailLogin"]) %}
            {% if messages %}
            <div class="mb-4">
                {% for message in messages %}
                <p class="text-red-500 text-xs italic text-center">{{ message }}</p>
                {% endfor %}
            </div>
            {% endif %}
            {% endwith %}
            <div class="mb-6">
                <label for="password" class="block text-gray-700 font-bold mb-2">Password</label>
                <input type="password" name="password" id="password" placeholder="Password"
                    class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:border-blue-500" required>
            </div>
            {% with messages = get_flashed_messages(category_filter=["passwordLogin"]) %}
            {% if messages %}
            <div class="mb-4">
                {% for message in messages %}
                <p class="text-red-500 text-xs italic text-center">{{ message }}</p>
                {% endfor %}
            </div>
            {% endif %}
            {% endwith %}
            <div class="mb-4">
                <button type="submit"
                    class="w-full bg-blue-500 text-white py-2 px-4 rounded-full hover:bg-blue-600 focus:outline-none">Log
                    In</button>
            </div>
            <!-- <div class="text-center">
                <a href="#" class="text-blue-500 hover:underline">Forgot password?</a>
            </div> -->
        </form>
        <hr class="my-6 border-gray-300">
        <div class="text-center">
            <p class="text-gray-700">Don't have an account? <a href="/register"
                    class="text-blue-500 hover:underline">Sign up</a></p>
        </div>
    </div>
</body>

</html>
