<!-- socketio client side logic -->

{% extends "base.html" %}

{% block content %}
    <!-- Existing post content -->

    <div id="comments">
        <!-- Existing comments -->
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script type="text/javascript">
        var socket = io();
        
        socket.on('connect', function() {
            console.log('Connected to server');
            socket.emit('join', {username: '{{ current_user.username }}', room: '{{ post.id }}'});
        });

        socket.on('comment', function(data) {
            var commentsDiv = document.getElementById('comments');
            var newComment = document.createElement('div');
            newComment.innerHTML = '<p><strong>' + data.author + '</strong>: ' + data.content + '</p>';
            commentsDiv.appendChild(newComment);
        });

        socket.on('status', function(data) {
            console.log(data.msg);
        });
    </script>
{% endblock %}
